.vs

/[Ll]ibrary/*
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Rr]ecordings/

.vsconfig

*.csproj
*.sln
*.user

Temp
/!Build/
/ServerData/
/NewMicTest/
/WWRD/
/WWRD_PC/

