.vs

/[Ll]ibrary/*
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Rr]ecordings/
/UIElementsSchema/

.vsconfig

*.csproj
*.sln
*.user

Temp
/!Build/
/ServerData/
/NewMicTest/
/WWRD/
/WWRD_PC/

create-sparse-worktree.sh
Assets/_BinaryData/botcommander-340901-619811fe0963.json
Assets/_BinaryData/botcommander-340901-619811fe0963.json.meta
